# Virtual Environment
venv/

# Django project specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Python basics
*.p[oa]
*.egg-info/
dist/
build/

# Editor folders
.vscode/
.idea/

# Node / VUE specific
# ===================================
node_modules/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*